@import "../../../css/style.scss";
.headersd{
    color:white;
    background:$colora;
    >div:nth-child(3){
        color:white;
        font:$fontd;
    }
}
.sets{
    top:3.5rem;
    bottom:5rem;
    >div{
        width:100%;
    }
}
.addressa{
    width:100%;
    padding:1rem;
    border-bottom:0.1rem solid #eeeeee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    >div:nth-child(1){
        width:85%;
        >div{
            color:$colorc;
            font:$fonte;
        }
        >div:nth-child(1){
            display: flex;
            justify-content: space-between;
            >div{
                color:$colorc;
                font:$fonte;
            }
        }
        >div:nth-child(2){
            margin-top:0.5rem;
        }
    }
}
.mrs{
    width:15%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.icon-xuanze{
    color:$colora;
}
.scb{
    width:15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    >div{
        width:100%;
        display:flex;
        justify-content: center;
        padding:0.3rem 0;
        border-radius:0.5rem;
        border:0.1rem solid #eeeeee;
        color:$colore;
    }
    >div:nth-child(2){
        margin-top:0.5rem;
    }
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    >div{
        width:80%;
        height:80%;
        background-color:$colora;
        border-radius:2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color:white;
        font:$fontc;
    }
}































