@charset "UTF-8";
.flexs, .hoc > div > div:nth-child(1), .hoc > div > div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sets {
  top: 3.5rem;
  bottom: 0;
  background: #eeeeee;
  padding-bottom: 1rem;
}
.sets > div {
  width: 100%;
}
.sets > div > div:nth-child(1) {
  width: 100%;
  height: 15rem;
}
.sets > div > div:nth-child(1) > img {
  width: 100%;
  height: 100%;
}

.hodea {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  background: white;
}
.hodea > div:nth-child(1) {
  color: #333333;
  font: normal 1.28rem PingFang-SC-Regular;
}
.hodea > div:nth-child(2) {
  min-width: 5rem;
  color: #f7230d;
  font: normal 1.067rem SimHei;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
  padding: 0.3rem 1rem;
  border-radius: 1.045rem;
  border: 1px solid #f7230d;
}

.hodeb {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem 1rem 1rem 1rem;
  background: white;
}
.hodeb > div {
  color: #31cce2;
  font-size: 1.5rem;
}
.hodeb > div > span {
  width: 92%;
  height: 1.8rem;
  display: inline-block;
  color: #333333;
  font: normal 1.28rem PingFang-SC-Regular;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.hodeb > div > span > span {
  display: inline-block;
  margin-left: 0.5rem;
}

.convention {
  height: 4rem;
  background: white;
  border-bottom: 0.5rem solid #eeeeee;
  display: flex;
  justify-content: center;
}
.convention > a {
  width: 10.368rem;
  height: 2.816rem;
  display: inline-block;
  background-color: #31cce2;
  border-radius: 1.408rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333333;
  font: normal 1.195rem PingFang-SC-Regular;
}
.convention > .act {
  color: #999999;
  background-color: #eeeeee;
}

.hodec, .hoded {
  width: 100%;
  background: white;
  padding: 0 1rem 1rem 1rem;
  border: 0.1rem solid #eeeeee;
  border-bottom: 1rem solid #eeeeee;
}
.hodec > div:nth-child(1), .hoded > div:nth-child(1) {
  color: #333333;
  font: normal 1.28rem PingFang-SC-Regular;
  line-height: 4rem;
}

.hodec > div:nth-child(3) {
  display: flex;
  justify-content: flex-end;
}
.hodec > div:nth-child(3) > div {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.hoded_child {
  width: 100%;
  padding-bottom: 0.5rem;
}
.hoded_child > div:nth-child(1) {
  width: 100%;
  display: flex;
}
.hoded_child > div:nth-child(1) > div {
  color: #333333;
  font: normal 1.28rem PingFang-SC-Regular;
  line-height: 3rem;
  text-align: center;
  border: 1px solid #eeeeee;
}
.hoded_child > div:nth-child(1) > div:nth-child(1) {
  width: 16%;
}
.hoded_child > div:nth-child(1) > div:nth-child(2) {
  width: 23%;
}
.hoded_child > div:nth-child(1) > div:nth-child(3) {
  width: 23%;
}
.hoded_child > div:nth-child(1) > div:nth-child(4) {
  width: 38%;
}

.hoc > div {
  width: 100%;
  display: flex;
}
.hoc > div > div {
  color: #333333;
  font: normal 1.28rem PingFang-SC-Regular;
  border: 1px solid #eeeeee;
}
.hoc > div > div:nth-child(1) {
  width: 16%;
  padding: 0 0.5rem;
}
.hoc > div > div:nth-child(2) {
  width: 23%;
  padding: 0 0.5rem;
}
.hoc > div > div:nth-child(2) > div {
  width: 100%;
  max-height: 5.2rem;
  color: #333333;
  font: normal 1.28rem PingFang-SC-Regular;
  overflow: hidden;
  /*超出隐藏*/
  display: -webkit-box;
  /*将对象作为弹性伸缩盒子模型显示。*/
  -webkit-box-orient: vertical;
  /*从上到下垂直排列子元素（设置伸缩盒子的子元素排列方式）*/
  -webkit-line-clamp: 3;
  /*超出2行用省略号表示*/
}
.hoc > div > div:nth-child(3) > div, .hoc > div > div:nth-child(4) > div {
  height: 2.5rem;
  padding-left: 1rem;
  color: #333333;
  font: normal 1.28rem PingFang-SC-Regular;
  line-height: 2.5rem;
  border-bottom: 0.1rem solid #eeeeee;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.hoc > div > div:nth-child(3) {
  width: 23%;
}
.hoc > div > div:nth-child(4) {
  width: 38%;
}

.hoa {
  color: #666666;
  font: normal 1.067rem SimHei;
  line-height: 1.5rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.hob {
  color: #666666;
  font: normal 1.067rem SimHei;
  line-height: 1.5rem;
}

.swiper1 img {
  width: 100%;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding: 1rem 1rem;
}
.details > div {
  font: normal 1.365rem PingFang-SC-Regular;
}
.details > i {
  font-size: 1.6rem;
}

/*# sourceMappingURL=hospital_details.css.map */
