.headersd{
    color:white;
    background:#31cce2;
}
.sets{
    top:3.5rem;
    bottom:5rem;
    >div{
        width:100%;
    }
}
.refua{
    border-bottom:1rem solid #eeeeee;
    >div{
        display: flex;
        justify-content: space-between;
        padding:1rem;
        >span{
            color: #333333;
            font:normal 1.28rem PingFang-SC-Regular;
        }
        >i{
            font-size:1.5rem;
        }
    }
}
.refub{
    border-bottom:1rem solid #eeeeee;
    >div{
        padding:1rem;
        >span{
            color: #333333;
            font:normal 1.28rem PingFang-SC-Regular;
        }
    }
    >div:nth-child(1){
        display: flex;
        >div{
            color: #fe6430;
            font-size:1.3rem;
            margin-left:0.5rem;
            >span{
                color: #fe6430;
                font:normal 1.28rem PingFang-SC-Regular;
            }
        }
    }
    >div:nth-child(2){
        display: flex;
        align-items: center;
        >input{
            padding:0 0.5rem;
            font:normal 1.28rem PingFang-SC-Regular;
        }
    }
}
.feede{
    width:100%;
    margin-top:1rem;
    padding:0 1rem 1rem 1rem;
    >.feedf{
        width:25%;
        max-height:7.5rem;
        background: #007AFF;
        overflow: hidden;
        >label{
            width: 100%;
            height: 100%;
            >img{
                width: 100%;
                height:100%;
                display: block;
            }
            >input{
                display: none;
            }
        }
    }
}
.ks{
    width:100%;
    display: flex;
    >.asd{
        width:25%;
        max-height:7.5rem;
        display:flex;
        >img{
            width:100%;
        }
    }
}
.kt{
    width:100%;
    display: flex;
    justify-content: center;
    margin-top:2rem;
    >div{
        padding:0.5rem 2rem;
        color:white;
        font:normal 1.365rem PingFang-SC-Regular;
        border-radius:0.4rem;
        background:#31cce2;
    }
}
.footersd{
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font:normal 1.536rem PingFang-SC-Regular;
    background-color: #fe6430;
}
.wdowsd{
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    background: rgba(128,128,128,0.8);
    display:flex;
    align-items: flex-end;
    >div{
        width:100%;
        height:45%;
        position:absolute;
        left:0;
        bottom:0;
        background:white;
        position:relative;
        >div:nth-child(1){
            display: flex;
            justify-content: center;
            color: #333333;
            font:normal 1.365rem PingFang-SC-Regular;
            padding:1rem;
        }
        >div:nth-child(2){
            padding:0 2rem;
            >div{
                display: flex;
                align-items: center;
                justify-content: space-between;
                
                border-bottom:0.1rem solid #eeeeee;
                >span{
                    color: #333333;
                    font:normal 1.28rem PingFang-SC-Regular;
                    line-height:4rem;
                }
                >i{
                    height:100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            >div:last-child{
                border:none;
            }
        }
        >div:nth-child(3){
            width:100%;
            height:5rem;
            color: #ffffff;
            font:normal 1.536rem PingFang-SC-Regular;
            background-color: #fe6430;
            position:absolute;
            left:0;
            bottom:0;
            display:flex;
            align-items: center;
            justify-content: center;
        }
    }
}
.wdowsd{
    >div{
        height:55%;
    }
}
.wdowsk{
    >div{
        height:75%;
    }
}
.icon-xuanze{
    color:#f46712;
}

















