@import "../../../css/style.scss";
.headersd{
    color:white;
    background:$colora;
    >div:nth-child(3){
        font:normal 1.365rem PingFang-SC-Regular;
    }
}
.sets{
    top:3.5rem;
    bottom:0;
    >div{
        width:100%;
    }
}
.relea{
    display: flex;
    padding:1rem;
    border-bottom:0.1rem solid #eeeeee;
    >div:nth-child(1){
        width:10%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    >.icon-danxuankuang{
        font-size:1.5rem;
    }
    >.icon-xuanze{
        color:#31cce2;
    }
    >div:nth-child(2){
        width:90%;
        >div:nth-child(1){
            display: flex;
            >div:nth-child(1){
                width:3.5rem;
                height:3.5rem;
                border-radius:50%;
                overflow: hidden;
                >img{
                    width:100%;
                    height:100%;
                }
            }
            >div:nth-child(2){
                margin-left:1rem;
                display: flex;
                flex-direction:column;
                justify-content:space-around;
                >div:nth-child(1){
                    color: #333333;
                    font:normal 1.28rem PingFang-SC-Regular;
                }
                >div:nth-child(2){
                    color: #666666;
                    font:normal 1.024rem PingFang-SC-Regular;
                }
            }
        }
        >div:nth-child(2){
            display: flex;
            padding:1rem 0;
            >.imgas{
                width:7.8rem;
                max-height:8rem;
                overflow: hidden;
                >img{
                    width:100%;
                    height:100%;
                }
            }
            >.bodyas{
                color: #333333;
                font:normal 1.195rem PingFang-SC-Regular;
                padding-left:1rem;
            }
        }
    }
}
.relea:last-child{
    border:none;
}
footer{
    position:absolute;
    left:0;
    bottom:0;
//  background:#009AFB;
    width:100%;
    height:5rem;
    box-shadow: 0rem 0rem 0.5rem 0rem rgba(150, 149, 149, 0.38);
    display:flex;
    align-items: center;
    justify-content: flex-end;
    >div{
        width:30%;
        height:100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border:0.1rem solid #eeeeee;
        color:white;
        font:normal 1.5rem PingFang-SC-Regular;
        background:#31cce2;
    }
}
