@import "../../../css/style.scss";
body{
    background:#F4F4F4;
}
.headersd{
    padding:0.25rem 0;
    background:$colora;
    >div:nth-child(1){
        color:white;
        font-size:2rem;
    }
    >div:nth-child(3){
        color: #ffffff;
        font-size:1.5rem;
    }
}
.loca{
    width:100%;
    >div:nth-child(1){
        width:90%;
        height:2.5rem;
        position:relative;
        margin:1rem auto;
        display:flex;
        background:white;
        border-radius:0.4rem;
        overflow: hidden;
        >div{
            width:12%;
            height:100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size:1.5rem;
        }
        >#myform{
            width:88%;
            height:100%;
            >input{
                width:100%;
                height:100%;
            }
            >input[type=search]::-webkit-search-cancel-button{
                -webkit-appearance: none;
            }
        }
    }
}
.sets{
    top:4rem;
    bottom:0;
    >div{
        width:100%;
    }
}
.techa{
    width:100%;
    >div:last-child{
        border:none;
    }
}
.techb{
    width:100%;
    display: flex;
    padding:1rem;
    border-bottom:0.1rem solid #eeeeee;
    >div:nth-child(1){
        width:6.5rem;
        height:6.5rem;
        >img{
            width:100%;
            height:100%;
        }
    }
    >div:nth-child(2){
        width:80%;
        margin-left:1rem;
        >div:nth-child(1){
            display:flex ;
            align-items: center;
            justify-content: space-between;
            >div{
                color:$colorc;
                font:$fontd;
                line-height:2.5rem;
            }
        }
        >div:nth-child(2){
            display:flex ;
            align-items: center;
            color:$colorc;
            font:$fonta;
            >div{
                line-height:2rem;
            }
            >div:nth-child(1){
                color:#fecd6c;
                >i{
                    font-size:1rem;
                }
            }
        }
        >div:nth-child(3){
            color:$colord;
            font:$fontb;
            line-height:2.5rem;
        }
    }
}
