@import "../../../css/style.scss";
.headersd{
    color:white;
    background:#31cce2;
}
.sets{
    top:3.5rem;
    bottom:0;
    >div{
        width:100%;
    }
}
.ordera{
    border-bottom:0.5rem solid #eeeeee;
    >div:nth-child(1){
        display:flex;
        justify-content: space-between;
        padding:1rem;
        >div:nth-child(1){
            color:$colorc;
            font:$fontc;
            >i{
                margin-left:0.5rem;
            }
        }
        >div:nth-child(2){
            color:$colore;
            font:$fontb;
            display: flex;
            align-items: center;
        }
    }
}
.ordera:last-child{
    border:none;
}
.orderb{
    width:100%;
    display: flex;
    justify-content: flex-end;
    padding:1rem;
    >div{
        width: 30%;
        height: 3rem;
        color: #333333;
        font: normal 1.28rem PingFang-SC-Regular;
        line-height: 3rem;
        padding: 0 0.6rem;
        border-radius: 1.5rem;
        text-align: justify;
        color: #ff5000;
        border: 0.1rem solid #ff5000;
    }
    >div:after{
        content: '';
        display: inline-block;
        padding-left: 100%;
    }
}