@import "../../../css/style.scss";
.sets{
    top:0;
    bottom:4.267rem;
}
#swiper1{
    position:relative;
    img{
        width:100%;
        height:31.2rem;
    }
}
.icon-houtui{
    position:absolute;
    top:1rem;
    left:1rem;
    z-index:1;
    width:3.5rem;
    height:3.5rem;
    font-size:2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color:$colord;
    background-color:rgba(255,255,255,0.6);
    border-radius:50%;
}
.buya{
    width:100%;
    padding:0 1.2rem;
    >div:nth-child(1){
        color:$colorc;
        font:$fontc;
        line-height:2rem;
        padding:1rem 0;
    }
    >div:nth-child(2){
        color:$colore;
        font:$fonte;
    }
}
.buyb{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 1.2rem;
    border-bottom:0.7rem solid #eeeeee;
    >div{
        display: flex;
//      height:5rem;
        >div{
            color:$colorc;
            font:$fontb;
            line-height:4rem;
        }
    }
}
.buyc{
    display: flex;
    justify-content: space-between;
    padding:0 1.2rem;
    border-bottom:0.1rem solid #eeeeee;
    >div:nth-child(1){
        color:$colord;
        font:$fontc;
        line-height:4rem;
        >span{
            color:$colord;
            font:$fontc;
        }
    }
    >div:nth-child(2){
        color:$colora;
        font:$fontc;
        line-height:4rem;
        >i{
            color:$colord;
            margin-left:0.5rem;
        }
    }
}
.buyd{
    padding:0 1.2rem 2rem 1.2rem;
    >div:nth-child(1){
        color:$colorc;
        font:$fontd;
        line-height:3rem;
        margin-left:1rem;
    }
    >div:nth-child(2){
        color:$colorc;
        font:$fontc;
    }
}
.buye{
    width:100%;
    height:3.5rem;
    color:$colord;
    font:$fontc;
    text-align: center;
    line-height:3.5rem;
    background-color: #f4f4f4;
}
.buyf{
    >div{
        text-align:center;
        img{
            max-width:100%;
        }
    }
}
.icon-pingji{
    color:#31cce2;
}
