.headersd {
  color: white;
  background: #31cce2;
}
.headersd > div:nth-child(3) {
  font-size: 1.5rem;
}

.sets {
  top: 3.5rem;
  bottom: 0;
}
.sets > div {
  width: 100%;
}

.shopa {
  width: 100%;
  display: flex;
  padding: 1rem;
  background: #f4f4f4;
}
.shopa > div:nth-child(1) {
  width: 4.7rem;
  height: 4.7rem;
}
.shopa > div:nth-child(1) > img {
  width: 100%;
  height: 100%;
}
.shopa > div:nth-child(2) {
  width: 80%;
  margin-left: 1rem;
}
.shopa > div:nth-child(2) > div:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.shopa > div:nth-child(2) > div:nth-child(1) > div {
  color: #333333;
  font: normal 1.365rem PingFang-SC-Regular;
  line-height: 2.5rem;
}
.shopa > div:nth-child(2) > div:nth-child(2) {
  display: flex;
  align-items: center;
  color: #333333;
  font: normal 0.768rem SimHei;
}
.shopa > div:nth-child(2) > div:nth-child(2) > div {
  line-height: 2rem;
}
.shopa > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) {
  color: #fecd6c;
}
.shopa > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) > i {
  font-size: 1rem;
}

.shopb {
  width: 100%;
}
.shopb > div {
  display: flex;
  padding: 0 1rem;
  border-bottom: 0.1rem solid #eeeeee;
}
.shopb > div > div {
  color: #666666;
  font: normal 1.365rem PingFang-SC-Regular;
  padding: 1rem 0;
  display: flex;
  align-items: center;
}
.shopb > div > div:nth-child(1) {
  width: 30%;
}
.shopb > div > div:nth-child(2) {
  width: 70%;
}
.shopb > div:last-child {
  border-bottom: 1rem solid #eeeeee;
}

.shopc {
  padding: 1rem;
  border-bottom: 1rem solid #eeeeee;
}
.shopc > div:nth-child(1) {
  color: #666666;
  font: normal 1.365rem PingFang-SC-Regular;
}
.shopc > div:nth-child(2) {
  width: 11rem;
  height: 7rem;
  margin: 1rem auto 0;
}
.shopc > div:nth-child(2) > img {
  width: 100%;
  height: 100%;
}

.shopd > div:nth-child(1) {
  color: #666666;
  font: normal 1.365rem PingFang-SC-Regular;
  padding: 1rem;
  border-bottom: 0.1rem solid #eeeeee;
}
.shopd > div:nth-child(2) {
  height: 8rem;
  color: #333333;
  font: normal 1.28rem PingFang-SC-Regular;
  padding: 1rem;
}
.shopd > div:nth-child(3) {
  display: flex;
  justify-content: flex-end;
}
.shopd > div:nth-child(3) > div {
  width: 6rem;
  padding: 0.5rem 0;
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

.pingjia {
  padding: 0 1rem 1rem 1rem;
  border-bottom: 0.1rem solid #eeeeee;
}
.pingjia > div:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}
.pingjia > div:nth-child(1) > div:nth-child(1) {
  display: flex;
  align-items: center;
}
.pingjia > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) {
  width: 3rem;
  height: 3rem;
  overflow: hidden;
}
.pingjia > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > img {
  width: 100%;
  height: 100%;
}
.pingjia > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) {
  margin-left: 1rem;
  color: #333333;
  font: normal 1.365rem PingFang-SC-Regular;
}
.pingjia > div:nth-child(1) > div:nth-child(2) {
  color: #999999;
  font: normal 1.067rem SimHei;
}
.pingjia > div:nth-child(2) {
  color: #333333;
  font: normal 1.28rem PingFang-SC-Regular;
}

.gengduo {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333333;
  font: normal 1.365rem PingFang-SC-Regular;
}
.gengduo > i {
  height: 100%;
  font-size: 1.3rem;
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
}

.titless {
  width: 100%;
  color: #666666;
  font: normal 1.365rem PingFang-SC-Regular;
  padding: 1rem;
  border-bottom: 0.1rem solid #eeeeee;
}

.swiper1 {
  width: 90%;
  margin-top: 1rem;
}
.swiper1 img {
  width: 100%;
  height: 10rem;
}

.yulan {
  width: 100%;
  background: #000000;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
}
.yulan > div {
  width: 100%;
  height: 22.6rem;
  position: absolute;
  top: 25%;
  left: 0;
  background: #eeeeee;
}
.yulan > div > .leftsk, .yulan > div .rightsk {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 37.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2.5rem;
}
.yulan > div > div:nth-child(1) {
  left: 0;
  z-index: 1;
}
.yulan > div > div:nth-child(3) {
  right: 0;
}
.yulan > div > img {
  width: 100%;
  height: 100%;
  display: inline-block;
  background: #eeeeee;
  position: absolute;
  top: 0;
  left: 0;
}

.xiangqing {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  margin-bottom: 2rem;
}
.xiangqing > div:nth-child(1) {
  font: normal 1.28rem PingFang-SC-Regular;
}
.xiangqing > div:nth-child(2) {
  font-size: 1.5rem;
}

/*# sourceMappingURL=Shop_introduced.css.map */
