@import "../../../css/style.scss";
header{
    width:100%;
    height:4rem;
    position:absolute;
    top:0;
    left:0;
    background:$colora;
    display: flex;
    align-items: center;
    justify-content: space-between;
    >div:nth-child(1){
        width:3rem;
        height:100%;
        color:white;
        font-size:2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    >div:nth-child(2){
        height:100%;
        display: flex;
        align-items: center;
        >div:nth-child(1){
            color:white;
            font-size:1.4rem;
            margin-right:0.5rem;
        }
        >div:nth-child(2){
            height:100%;
            color:white;
            display: flex;
            align-items: center;
            margin-left:0.5rem;
            >span{
                color:white;
                font:$fontc;
            }
            >i{
                font-size:1.3rem;
            }
        }
        
    }
    >div:nth-child(3){
        width:16rem;
        height:2rem;
        display: flex;
        align-items: center;
        position:relative;
        margin-left:1rem;
        border-radius:0.5rem;
        overflow: hidden;
        >input{
            width:100%;
            height:90%;
            padding:0 0.3rem;
            font:$fontb;
        }
        >input::-webkit-input-placeholder{
            text-align: center;
            font:$fontb;
        }
        >i{
            width:3rem;
            height:2rem;
            position:absolute;
            top:0;
            right:0;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size:1.5rem;
        }
    }
    >div:nth-child(4){
        width:4rem;
        height:100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color:white;
        font-size:1.6rem; 
    }
}
.sets{
    top:4rem;
    bottom:0;
    >div{
        width:100%;
        >div:nth-child(1){
            padding-bottom:0.5rem;
            border-bottom:0.6rem solid #eeeeee;
        }
    }
}
#swiper1{
    img{
        width:100%;
        height:15rem;
    }
}
.techs{
    width:100%;
    padding-right:1rem;
    padding:0.5rem 1rem 0.5rem 1rem;
    display: flex;
    justify-content: flex-end;
    border-bottom:0.2rem solid #eeeeee;
    >div{
        
        padding:0.5rem 1rem;
        border-radius:2rem;
        border:0.1rem solid #eeeeee;
    }
}
.techa{
    width:100%;
    >div:last-child{
        border:none;
    }
}
.techb{
    width:100%;
    display: flex;
    padding:1rem;
    border-bottom:0.1rem solid #eeeeee;
    >div:nth-child(1){
        width:6.5rem;
        height:6.5rem;
        >img{
            width:100%;
            height:100%;
        }
    }
    >div:nth-child(2){
        width:80%;
        margin-left:1rem;
        >div:nth-child(1){
            display:flex ;
            align-items: center;
            justify-content: space-between;
            >div{
                color:$colorc;
                font:$fontd;
                line-height:2.5rem;
            }
        }
        >div:nth-child(2){
            display:flex ;
            align-items: center;
            color:$colorc;
            font:$fonta;
            >div{
                line-height:2rem;
            }
            >div:nth-child(1){
                color:#fecd6c;
                >i{
                    font-size:1rem;
                }
            }
        }
        >div:nth-child(3){
            color:$colord;
            font:$fontb;
            line-height:2.5rem;
        }
    }
}


























