body{
    background:white;
}
.logs{
    width:100%;
    height:21rem;
    border:1px solid rgba(255,255,255,0);
    >div{
        width: 10.496rem;
        height: 9.088rem;
        margin:5rem auto 0;
        >img{
            width:100%;
            height:100%;
        }
    }
}
.loga{
    width:80%;
    margin:0 auto;
    >div{
        width:100%;
        display: flex;
        align-items: center;
        >div{
            width:15%;
            font-size:2.5rem;
        }
        >input{
            width:85%;
            margin:0;
            padding:0 0.6rem;
            border:none;
        }
    }
    >div:nth-child(2){
        margin-top:0.5rem;
    }
}
.login{
    width:90%;
    height: 3.755rem;
    margin:3rem auto 0;
    background-color:#31cce2;
    color: #ffffff;
    text-align: center;
    font:normal 1.365rem PingFang-SC-Heavy;
    line-height:3.755rem;
}
.logb{
    width:90%;
    height:2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:1.5rem auto;
    >div{
        padding:0.3rem 0.5rem;
        font:normal 1.024rem PingFang-SC-Regular;
    }
    >div:nth-child(1){
        color: #d50100;
    }
    >div:nth-child(2){
        color: #666666;
    }
}
.logc{
    width:30%;
    height:4rem;
    display: flex;
    align-items: center;
    justify-content:center;
    margin:3rem auto 0;
    >div{
        width:3rem;
        height:3rem;
        color:#31cce2;
        font-size:3.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
