html, body {
  height: 100%;
  overflow: auto;
  position: relative;
  top: 0;
  left: 0;
}
.headers{
    width: 100%;
    height:3.5rem;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    color: #ffffff;
    background:#31cce2;
    box-shadow: 0rem 0rem 0.269rem 0.073rem rgba(173, 173, 173, 0.52);
    >div{
        height:100%;
    }
    > div:nth-child(1){
//      width: 3rem;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size:2rem;
        padding:0 1rem;
        > div{
            width: 100%;
            display: flex;
            align-items: center;
            margin-left:0.5rem;
            font:normal 1.8rem STHeitiSC-Light;
        }
    }
}
.headersd{
    width: 100%;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0rem 0rem 0.5rem 0rem rgba(164, 164, 164, 0.33);
    >div{
        height:3.5rem;
    }
    > div:nth-child(1) {
        width:20%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size:2rem;
    }
    > div:nth-child(2){
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font:normal 1.365rem PingFang-SC-Regular;
    }
    > div:nth-child(3) {
        width:20%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.sets{
    width: 100%;
    overflow: auto;
    position: absolute;
    left:0;
}
.footersd {
    width: 100%;
    height:5rem;
    position:absolute;
    left:0;
    bottom:0;
    display: flex;
    justify-content: space-around;
    background:white;
    box-shadow: 0rem -0.2rem 0.3rem 0rem rgba(164, 164, 164, 0.33);
    >a{
        width:(100%/3);
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom:0.5rem;
        color:#767575;
        font-size:2.5rem;
        > span {
            font-size:1rem;
        }
    }
}