$fonta:normal 0.768rem SimHei;
$fontb:normal 1.067rem SimHei;
$fontc:normal 1.28rem PingFang-SC-Regular;
$fontd:normal 1.365rem PingFang-SC-Regular;
$fonte:normal 1.536rem PingFang-SC-Regular;
$colora:#31cce2;
$colorb:#000000;
$colorc:#333333;
$colord:#666666;
$colore:#ff5000;
$colorf:#999999;

